MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin

POSTGRES_ADMIN_USER=admin
POSTGRES_ADMIN_PASSWORD=admin
GF_SECURITY_ADMIN_PASSWORD=admin

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=admin@admin.com

METABASE_USER=admin
METABASE_PASSWORD=admin

GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

#SPARK_USER=admin
#SPARK_PASSWORD=admin

#OPENMETADATA_USER=admin
#OPENMETADATA_PASSWORD=admin
